# pip install openai
from openai import OpenAI

client = OpenAI(
  api_key="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"
)

response = client.responses.create(
  model="gpt-5.4-mini",
  input="write a haiku about ai",
  store=True,
)

print(response.output_text);
